@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: #29b080;
        --lightprimary-color: #2dc690;
        --darkprimary-color: rgba(41, 176, 128, 0.2);
        --grey-color: rgba(255, 255, 255, 0.4);
        --focus-color: rgba(41, 176, 128, 0.4);
        --focusbackground-color: #162724;
        --secondary-color: #fff;
        --footer-color: #9b9b9b;
        --gradient-color-stops: rgb(27, 168, 116, 0.3) 0%, transparent 70%;
        --light-gradient-color-stops: rgb(27, 168, 116, 0.1) 0%, transparent 70%;
        --gradient-linear-stops: rgba(28, 28, 28, 1) 0%, #141414 100%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    /* * {
        @apply border-border;
    } */
    /* body {
        @apply bg-background text-foreground;
    } */
}
